
PORT=3001
NODE_ENV=development

AZURE_TENANT_ID=your-tenant-id-here
AZURE_CLIENT_ID=your-api-app-client-id-here

AZURE_GROUP_BANK_ADMINS=your-bank-admins-group-object-id
AZURE_GROUP_SECURITY_AUDITORS=your-security-auditors-group-object-id
AZURE_GROUP_APP_DEVELOPERS=your-app-developers-group-object-id
AZURE_GROUP_DATA_ENGINEERS=your-data-engineers-group-object-id

USE_DUMMY_DB=true
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=BankingDB
DB_USER=bankapp
DB_PASSWORD=YourStrong@Passw0rd

KEY_VAULT_URL=https://your-keyvault.vault.azure.net/

STORAGE_ACCOUNT_NAME=mohdggulmaanbankr1
STORAGE_CONTAINER_KYC=kyc-documents

SIGNALR_CONNECTION_STRING=your-signalr-connection-string

FRONTEND_URLS=http://localhost:5173

